<h1>Editing playlist</h1>

<%= render 'form' %>

<%= link_to 'Show', @playlist %> |
<%= link_to 'Back', playlists_path %>

<div class="app-block app-modalbox app-roundedbox large-10 large-centered columns">
  <% @playlists.each do |playlist| %>

<% end %>
</div>


<div class="app-block app-modalbox app-roundedbox large-10 large-centered columns">

</div>
