<div id="homepage-content">
  <hr id="homepage-hrHeader">
  <div id="homepage-homeBtn"><img id="homepage-iHomeBtn" src="assets/homepage/iHomeBtn.png" style="width:0;height:0;" alt="image"></div>
  <table id="homepage-mainTbl">
    <tr align="center">
      <td>
        <img id="homepage-iHeader" src="assets/iHeader.png" style="width:0;height:0;" alt="image">
          <div id="homepage-mainContent">
            <div id="homepage-joinTxt">join</div>
            <hr id="homepage-hrMain">
            <table>
              <tr align="center">
                <div id="homepage-infoTxt">UEBPrep is an interactive platform<br>designed for learning Unified English Braille.</div>
                <div id="homepage-joinBtnTwitter"><img id="homepage-iTwitter" src="assets/homepage/iTwitter.png" style="height:90%;width:auto;" alt="image"></div>
                <div id="homepage-joinBtnFacebook"><img id="homepage-iFacebook" src="assets/homepage/iFacebook.png" style="height:100%;width:auto;" alt="image"></div>
                <div id="homepage-mainOrHr"><hr id="homepage-hrMainHalvedL"><div id="homepage-hrOrTxt">or</div><hr id="homepage-hrMainHalvedR"></div>
                

                <!-- CHANGE method="GET" to method="POST" once helper has been added for it !!! -->
                <form action="signup" method="GET">
                  <input type="email" id="homepageEmailInput" class="homepage-input" name="homepageEmailInput" placeholder="email" required>
                  <br>
                  <input type="password" id="homepagePWInput" class="homepage-input" name="homepagePWInput" placeholder="password" required>
                  <br>
                  <input type="submit" id="homepage-submitBtn" class="homepage-input" value="Get Started">
                </form>


              </tr>
            </table>
          </div>
      </td>
    </tr>
  </table>
  <div id="homepage-footer">&#8226; <div id="homepage-oAbout">About</div> &#8226; <a href="https://github.com/galxy25/pdxCoders" class="homepage-links" target="_blank">GitHub</a> &#8226; <div id="homepage-oTeam">Team</div> &#8226;</div>
  <hr id="homepage-hrFooter">
</div>