<div class="row">
  <div id="home-content" class="small-12 small-centered columns">
    <h1>Unified English Braille eLearning Platform</h1>
  </div>
</div>

<div id="home-footer">&#8226; <a href="https://github.com/galxy25/pdxCoders" class="app-whitelink" target="_blank">GitHub</a> &#8226;</div>
<hr id="home-hrFooter">