<div id="content">
  <!--<hr id="hrNav">-->
  <img id="iNav" src="assets/homepage/logo2.png" style="width:120px;height:120px;" alt="">
  <table id="main">
    <tr align="center">
      <td>
        <h1>Unified English Braille Responsive eLearning Platform</h1>
        <p><h2>We're currently in development. Subscribe below to receive update notifications</h2></p>
        <%= form_tag("homepage/subscribe_email", method: "post") do %>
          <%= email_field_tag(:email_address) %>
          <%= submit_tag("Subscribe") %>
        <% end %>
        <!--<div id="form-main">-->
          <!--<div id="form-div">-->
            <!--<form class="form" id="form1">-->
              <!--<p class="email">-->
                <!--<input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />-->
              <!--</p>-->
              <!--<div class="submit">-->
                <!--<input type="submit" value="SEND" id="button-blue"/>-->
                <!--<div class="ease"></div>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->
        <!--</div>-->
      </td>
    </tr>
  </table>
  <div id="footer">&#8226; <div id="oAbout">About</div> &#8226; <a href="https://github.com/galxy25/pdxCoders" class="links" target="_blank">GitHub</a> &#8226; <div id="oTeam">Team</div> &#8226;</div>
  <hr id="hrFooter">
</div>
