<h1>All Users</h1>
<div >
  <div >
    <% @users.each do |user| %>
      <ul>
        <li>User Id: <%= user.id %></li>
        <li> User Password: <%= user.password %></li>
        <li>User Email: <%= user.email %></li>
      </ul>
    <% end %>
  </div>
</div>