<% provide(:title, "UEBPrep - My Profile") %>

<div class="large-10 large-centered columns">
  <div class="small-3 small-centered columns hide-for-small-only">
    <img src="/assets/homepage/iHeader.png" alt="UEB Prep Logo: reading, games, chat" data-interchange="">
  </div>
</div>

<div class="app-block app-modalbox app-roundedbox large-10 large-centered columns">
  <div class="row">
    <div class="large-6 columns">
      <div class="app-txt-centered large-centered columns">
        <h4>My Profile</h4>
        <%= image_tag @user.avatar.url(:small) %>
        <hr>
      </div>
      <div class="app-block large-centered columns">
        <%= render 'show_profile' %>
      </div>
    </div>

    <div class="large-6 columns">
      <div id="new-playlist" class="large-centered row text-centered">
        <div class="columns small-centered">
          <h4 style="text-align: center">My Playlists</h4>
          <p style="text-align: center">(Click to view)</p>
          <hr>
          <ol id="user_playlists">
            <% @playlists.each do |playlist| %>
              <li><%= link_to "#{playlist.name}" + "(" + "#{playlist.cards.count}" + ")", edit_playlist_path(playlist) %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
