<% provide(:title, "UEBPrep - My Profile") %>

<div class="row app-txt-centered">
  <div class="medium-3 medium-centered columns hide-for-small-only">
    <img src="/assets/homepage/iHeader.png" alt="UEB Prep Logo: reading, games, chat" data-interchange="">
  </div>
</div>
<div class="row" style="float:left">
  <div class="app-block app-modalbox app-roundedbox small-3 small-uncentered columns">
    <h4 style="text-align: center">My Playlists</h4>
    <hr/>
    <ul id="user_playlists">
      <% @playlists.each do |playlist| %>
          <li style="list-style-type: none;"><%= playlist.name + " (" + playlist.cards.count.to_s + ")" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="app-block app-modalbox app-roundedbox small-10 medium-7 small-centered columns">
    <div class="app-txt-centered small-8 large-10 small-centered columns">
      <h4>My Profile</h4>
      <hr>
    </div>
    <div class="app-block small-8 medium-15 small-centered columns">
      <ul>
      	<%= render 'show_profile' %>
      </ul>
    </div>
  </div>
  <%= render 'footer_links' %>
</div>