<div class="google" arial-label= "sign in with google">
  <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
    <img class="app-btns app-roundedbox" src="assets/homepage/google.png" alt="google logo and text" data-interchange="">
  <% end %>
</div>
<div class="facebook" arial-label= "sign in with facebook">
  <%= link_to user_omniauth_authorize_path(:facebook) do %>
  <img class="app-btns app-roundedbox" src="assets/homepage/facebook_login_button.png" alt="facebook logo and text" data-interchange="">
  <% end %>
</div>
<div class="twitter" arial-label= "sign in with twitter">
  <%= link_to user_omniauth_authorize_path(:twitter) do %>
    <img class="app-btns app-roundedbox" src="assets/homepage/twitter_login_button.png" alt="twitter logo and text" data-interchange="">
  <% end %>