<%= social_share_button_tag("A CARD") %>
<%= link_to 'Examples', @card %>
<a href="#" data-dropdown="add-to-playlist" class="button dropdown">Add card to playlist</a>
<ul id="add-to-playlist" data-dropdown-content class="f-dropdown" aria-hidden="true">
  <% current_user.playlists.each do |playlist| %>
    <li class="drop-item" id="<%= playlist.id %>"><a href="#"><%= playlist.name %></a></li>
  <% end %>
  <li class="drop-item" id="new-playlist"><a href="#">New playlist...</a></li>
</ul>
