<div class="row">
  <div class="user-card panel app-block app-roundedbox small-8 medium-5 small-centered columns">
    <div class="sign">
      <h1><%= content.title %></h1>
    </div>
    <%= content.text %>
    <%= link_to image_tag(content.image.url(:med)), alt: content.alt %>
  </div>
</div>