<div class="row user-card-height">
  <div class="user-card panel small-12 small-centered columns">
    <div class="sign">
      <h1><%= @card.nil? ? content.title : @card.content.title %></h1>
    </div>
    <div class="row">
      <div class="small-4 uncentered columns">
        <%= link_to image_tag( @card.nil? ? content.image.url(:large) : content.image.url(:large) ), alt: @card.nil? ? content.alt : @card.content.alt %>
      </div>
      <div class="small-8 small-centered columns user-card-image">
        <%= @card.nil? ? content.text : @card.content.text %>
      </div>
      <div id="share-card-button">
        <a href="#" data-dropdown="share-list" class="button tiny info left dropdown">Share</a>
        <ul id="share-list" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li class="drop-item"><a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a></li>
          <li class="drop-item"><a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a></li>
          <li class="drop-item"><a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a></li>
        </ul>
      </div>  
    </div>
  </div>
</div>