<div class="row">
  <div class="user-card panel app-block app-roundedbox small-8 medium-5 small-centered columns">
    <div class="sign">
      <h1><%= @card.content.title %></h1>
    </div>
    <%= @card.content.text %>
    <%= link_to image_tag(@card.content.image.url(:med)), @card.content.image.url %>
  </div>
</div>