<div class="row">
	<div class="user-card panel app-block app-roundedbox small-8 medium-5 small-centered columns">
		<div class="sign">
			<h1><%= @card.content.id %></h1>
		</div>
		<%= @card.content.text %>
	</div>
</div>