<div class="row user-card-height">
	<div class="user-card panel app-block app-roundedbox small-12 small-centered columns">
		<div class="sign">
			<h1><%= "Text Card" %></h1>
		</div>
		<div class="user-card-content">
          <%= @card.nil? ? content.text : @card.content.text %>
    </div>
  </div>
</div>