<h1> Titled Card Content </h1>
<ul>
  <li>Titled Card Content Id: <%= @card.content.id %></li>
  <li>Titled Card Content Title: <%= @card.content.title %></li>
  <li>Titled Card Content Text: <%= @card.content.text %></li>
</ul>