<div class="row user-card-height">
	<div class="user-card panel app-block app-roundedbox small-12 small-centered columns">
		<div class="sign">
			<h1><%= @card.nil? ? content.title : @card.content.title %></h1>
		</div>
      <div class="row">
        <div class="user-card-content small-12 uncentered columns">
          <%= @card.nil? ? content.text : @card.content.text %>
        </div>
      </div>
    <a href="#" data-dropdown="share-list" class="button tiny info left dropdown">Share</a>
    <ul id="share-list" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <li class="drop-item"><a class="social-share-button-twitter" data-site="twitter" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Twitter"></a></li>
      <li class="drop-item"><a class="social-share-button-facebook" data-site="facebook" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Facebook"></a></li>
      <li class="drop-item"><a class="social-share-button-google_plus" data-site="google_plus" href="#" onclick="return SocialShareButton.share(this);" rel="nofollow " title="Share to Google+"></a></li>
    </ul>
	</div>
</div>

