label[for=cardtype]
{
    font-weight: bold;
    font-size: 1rem;
}

label[for=citation]
{
    font-weight: bold;
    font-size: 1rem;
}

#cardtype
{
    width:          115px;
    padding:        .5%;
    border-radius:  6px;
    font-size:      1.5em;
}

label[for=cardtitle]
{
    font-weight: bold;
    font-size: 1rem;
    display: none;
}

#cardtitle
{
    padding:       1%;
    border-radius: 6px;
    font-size:       1.5em;
    display: none;
}

label[for=cardtext]
{
    font-weight: bold;
    font-size: 1rem;
    display: none;
}

#cardtext
{
    padding:       1%;
    border-radius: 6px;
    resize: none;
    font-size:       1.5em;
    display: none;
}

label[for=cardimage]
{
    font-weight: bold;
    font-size: 1rem;
    display: none;
}

label[for=uploadcardimage]
{
    font-size: 1rem;
}

label[for=cardimagealt]
{
    font-weight: bold;
    font-size: 1rem;
    display: none;
}

#cardimagealt
{
    padding:       1%;
    border-radius: 6px;
    font-size:       1.5em;
    display: none;
}

#cardimage
{
    width:         15%;
    padding:       .5%;
    border-radius: 6px;
    font-size:       1.5em;
    display: none;
}

#cardsubmit
{
    background:      #29b0b7;
    padding:         1% 3.5%;
    border-radius:   6px;
    color:           #fff;
    font-size:       1.5em;
    cursor:          pointer;
    display: none;
}

.csvsubmit
{
    background:      #29b0b7;
    padding:         1% 3.5%;
    border-radius:   6px;
    color:           #fff;
    font-size:       1.5em;
    cursor:          pointer;
}

.accordion {
    margin: 0;
}

.action {
    width: 100%;
    color: #000000;
    height: 2rem;
}

#multi-cards {
    font-size: .5em;
    font-size: .4vmin;
    font-size: .8vmax;
}

#multi-cards #share-card-button {
    display: none;
}

#multi-cards #link-card-button {
    display: none;
}

dl#import-cards dd{
    margin-bottom: .1rem !important;
}

.delete-button {

}

dl#card-creator-title {
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px #000000;
}