body
{
	background: url("/assets/homepage/back.jpg") center center / cover no-repeat fixed #000;
	color:#000;
}

h1 { text-shadow: 2px 2px #000; }
h4 { color: #000; margin-bottom: 8%; line-height:0; }

#home-newUserTxt
{
	position: relative;
	float:    right;
	bottom:   3px;
	right:    5%;
	display:  inline;
}