body
{
    background:              #000 url("/assets/homepage/back.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
}

h1 { text-shadow: 2px 2px #000; }

#home-about, #home-team
{
    cursor:  pointer;
    display: inline;
}

#home-content
{
    height:     77%;
    text-align: center;
}

#home-footer
{
    width:       100%;
    font-size:   0.9em;
    text-align:  center;
    text-shadow: 2px 2px #000;
    position:    absolute;
    left:        0;
    bottom:      2%;
}

#home-header
{
    height:  10%;
    padding: 2% 5% 0;
}

#home-hrFooter
{
    width:            100%;
    height:           1px;
    background-image: linear-gradient(to right, hsla(0, 100%, 100%, 0.15), hsla(0, 100%, 100%, 0.40), hsla(0, 100%, 100%, 0.15));
    border:           0;
    position:         fixed;
    bottom:           0;
    z-index:          -1;
}

table#home-userInputInner
{
    width: 40%;

    #facebook-login
    {
        width:  auto;
    }
}

table#home-userInputInner td {
    width: 40%;

    padding-top: 1em;
    padding-bottom: 1em;
}

#facebook-login
{
    height: 50%;
    width:  50%;
}
table#home-userInputOuter
{
    width:      100%;
    height:     50%;
}

#home-logo
{
    height: 100%;
    width:  auto;
}

#home-subscribe input
{
    width:         15%;
    padding:       1%;
    border-radius: 6px;
    font-size:     0.75em;
    color:         #000;
}

#home-submit
{
    background: #fff;
    cursor:     pointer;
}

.home-userInput
{
    background:      #29b0b7;
    margin:          5% 0;
    padding:         10% 25%;
    border-radius:   6px;
    color:           #fff;
    text-decoration: none;
}
