/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.field
{
    font-size: 2em;
    text-align: left;
    color: #fff;
}

.box
{
    background-color: blue;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.edit-pane
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-shadow: none;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 40%;
    height: 70%;
    padding: 2%;
}