*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field
{
    font-size: 2em;
    text-align: left;
    color: black;
}

.field input
{
    margin-top: 10px;
    padding: 0.2em;
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
    font-size: 1em;
}

.box
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.edit-pane
{
    background-color: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-shadow: none;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 40%;
    height: 70%;
    padding: 2%;
}

.actions
{
    padding-top: 5%;
}

.actions input
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    font-weight: normal;
    position: relative;
}