<nav class="top-bar foundation-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "UEBPrep", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <ul class="right">
      <%= render 'layouts/social_media_links' %>
    </ul>
  </section>
</nav>