<li class="active">
  <%= link_to src="https://www.facebook.com/uebprep?fref=ts" do %>
    <img class="app-btns" src="/assets/facebookLogo.png" alt="image" data-interchange="">
  <% end %>
</li>
<li class="active">
  <%= link_to src="https://twitter.com/uebprep" do %>
    <img class="app-btns" src="/assets/twitterLogo-white.png" alt="image" data-interchange="">
  <% end %>
</li>